.toast {
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  animation: slideIn 0.3s ease;
}

.toast-success {
  background-color: #007bff !important;
  /* Blue */
}

.toast-error {
  background-color: #dc3545;
}

.toast-info {
  background-color: #17a2b8;
}

.toast-message {
  flex: 1;
}

.toast-close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}